
<footer>
    Images and descriptions for racquets are taken from <a href="https://www.tennis-warehouse.com">Tennis Warehouse</a> and images for specifications are taken from <a href="https://www.perfect-tennis.com">Perfect Tennis</a>
</footer>

</body>
</html>