body{
  background-color: rgb(121, 188, 255);
}
.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
#racquetlogo{
  width: 100px;
  height: auto;
}

.login img {
  height: 30px;
}

nav{
  background-color: rgb(195, 255, 171);
  padding: 10px;
}