body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "nav"
  "main";
  overscroll-behavior: none;
  background-color: rgb(247, 247, 247) !important;
}
.brand-logo {
  margin-left: 15px;
}

.cardlink, .cardlink:hover{
  color: black;
  text-decoration: none;
  
}

main{
  margin: 0 50px 0 50px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}


.login img {
  height: 25px;
}

.navbar {
  position: fixed;
  top:0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.338);
}

#page-title{
  text-align: center;
}

.nav-links{
  padding: 25px;
  color: white;
  text-shadow: 1px 2px 15px black;
}

#site-name{
  font-family: 'Anton', sans-serif;
  color:aliceblue !important;
  position: absolute;
  left: 50px;
  top: auto;
  text-shadow: 1px 2px 15px black;
}

#racquetlogo{
  position: absolute;
  left: 50px;
  top: 50%;
  width: 60px;
  height: auto;
  transform: translate(-50%, -50%);
}

.racquet-form{
  margin: auto !important;
  position: 0 auto 0 auto;
  display: flex;
  margin: 0 20px 0 20px;
  padding: 30px;
  flex: 1;
  width: 35%;
  flex-direction: column;
  align-content: center;
  background-color: white;
  border-radius: 10px;
}

#homepage{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:aliceblue;
  text-shadow: 1px 2px 15px black;
  position: absolute;
  top: 25%;
  left: 100px;
  width:80%;
  margin:auto;
  height:100vh;
}

#homepageimg{
  z-index: -1;
  object-fit: cover;
  display: inline-block;
  height: 200vh;
  width: 100vh;
  margin: -200px 0 0 0;
}

.lead{
  text-align: center !important;
}

textarea{
  resize:none;
  resize:vertical;
}

.card-deck{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

#stringpatterndiv{
  display: flex;
  flex-direction: row;
}

#startbtn{
  position:absolute;
  top: 35%;
  left: 100px;
}

.card-img-top{
  height: 20vh;
  width: auto;
  margin:auto;
}
.card{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.jumbotron{
  background-color: rgb(35, 140, 250) !important;
  border-radius: 10px;
  color:aliceblue !important;
}

.img-center{
  margin: 0 auto;
}

#racquet-img{
  display:flex;
  justify-content: center !important;
  margin: 15px;
}

.card-title{
  padding: 15px;
}

.card-text{
  height:150px;
}

.list-group{
  margin-bottom: 0px !important;
}
.racquet-show{
  margin:auto;
  width: 80vh;
  height: fit-content;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "img racquet-name"
  "img racquet-make"
  ;
}

#racquet-show-img{
  height: 750px;
  width: auto;
  grid-column: 1/2;
  margin: auto;
}

#edit-delete-racquet{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#card-text-show{
  height:fit-content;
}

#review-section{
  margin: auto;
  text-align: center;
}